.footer-container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 5px;
    left: 0;
    text-align: center;
}

.btnDiv {
    width: 90%;
    border-radius: 50px;
    background-color: #13152d;
}

.btnDiv button img {
    width: 1.7em;
}

.button {
    background-color: #13152d;
    width: 5em;
    transition-duration: 0.3s;
    border-radius: 8px;
    padding: 1em;
    margin: 0 0.5em 0 0.5em;
    color: #fff;
    border: none;
}

.button:hover {
    cursor: pointer;
    background-color: #d7d7d730;
    color: white;
}