.home-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5em;
}

.class-card-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.class-card {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    padding: 15px;
    background-color: #f1f1f1;
    line-height: 10px;
}

h1 {
    color: #13152d;
    font-size: 20px;
}

h2 {
    width: 100%;
    color: #FF6D4C;
    font-size: 16px;
}

.icons {
    width: 15px;
}

.button-home {
    width: 8em;
    border-radius: 10px 0 0 10px;
    /* background-color: #FF6D4C; */
    border: solid 1px #000;
    height: 100%;
}

.button-home:hover {
    background-color: #A9C46C;
    /* border: solid 1px #FF6D4C; */
    cursor: pointer;
}

.search-input {
    width: 25em;
    border: solid 1px #000;
    border-radius: 100px;
    padding: 0.5em 1em 0.5em 0;
    margin-bottom: 1em;
}

.admin-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 5em;
    gap: 10px;
}

.admin-button .admin-btn-inner {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    width: 100%;
    border: none;
    height: 50%;
    transition: all 0.2s ease;
}

.admin-button .admin-btn-inner:hover {
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.admin-button .admin-btn-inner img {
    padding-left: 10px;
    width: 1em;
}

.delete-button {
    background-color: #DE3333;
}