.home-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5em;
}

.class-card-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.class-card {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    padding: 15px;
    background-color: #f1f1f1;
    line-height: 10px;
}

h1 {
    color: #13152d;
    font-size: 20px;
}

h2 {
    width: 100%;
    color: #FF6D4C;
    font-size: 16px;
}

.icons {
    width: 15px;
}

.button-home {
    width: 8em;
    border-radius: 10px 0 0 10px;
    background-color: #FF6D4C;
    border: none;
    height: 100%;
}

.button-home:hover {
    background-color: #ff6d4cdc;
    cursor: pointer;
}

.search-input {
    width: 20em;
    border-radius: 100px;
    padding-right: 1em;
    margin-bottom: 1em;
}