.h2 {
    margin: 0.5em 0;
    /* add buttom line */
    border-bottom: 1px solid #e45f41;
}

.message {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    border-radius: 10px;
    height: 1.5em;
    padding: 0 0.5em 0 0;
}

.message li {
    list-style-type: none;
}

.message:hover {
    background-color: #dad8d8;
    cursor: pointer;
}

.message:hover .admin-button {
    display: block;
}

.message-box {
    width: 25em;
    border: solid 1px black;
    border-radius: 5px;
    padding: 0.2em 0.5em;
    margin-bottom: 1em;
    background-color: #f1f1f1;
}

div .plus-button {
    width: 100%;
    height: 1.8em;
    border-radius: 10px;
    border: solid 1px #e45f41;
    padding-top: 6px;
    transition: background-color ease-in-out 0.2s;
}

div .plus-button img {
    width: 0.9em;
}

div .plus-button:hover {
    background-color: #e45f41;
    cursor: pointer;
}

.new-message-box {
    width: 25em;
    height: 10em;
    border-radius: 5px;
    background-color: #e45f41;
    padding: 0.2em;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.new-message-box form {
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: space-around;
    background-color: #fff;
}

.new-message-box form input {
    height: 4em;
    border-radius: 5px;
    border: solid 1px #e45f41;
    padding: 0.2em 0.5em;
}

.new-message-box button {
    width: 50%;
    height: 2em;
    border-radius: 5px;
    border: solid 1px #e45f41;
    background-color: #fff;
    color: #e45f41;
    transition: background-color ease-in-out 0.2s;
}

.new-message-box button:hover {
    background-color: #e45f41;
    color: #fff;
    cursor: pointer;
}

.admin-buttons {
    display: flex;
    flex-direction: row;
}

.admin-button {
    border: none;
    display: none;
    width: 2em;
    height: 100%;
    border-radius: 10px;
}

.admin-delete-button {
    background-color: #de3333;
}

.admin-edit-button {
    background-color: #33de33d4;
}

.admin-button:hover {
    cursor: pointer;
}

.admin-button img {
    width: 1em;
}